body {
    margin: 0;
}

main {
    padding: 20px 10px;
}

h1, p {
    margin: 0;
}

.container-header {
    width: 100%;
    height: 100px;
    background-image: url(/assets/pattern.png);
    background-size: 19%;
    background-color: #3590F3;
    position: relative;
}

.pattern {
   width: 100%;
   height: 100%;
}

.logo {
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.container-images {
    display: inline;
}

.text-blue {
    color: #62BFED;
}

.text-gray {
    color: gray;
}

.date {
    margin-bottom: 20px;
}

.image-description {
    font-size: 14px;
    margin-bottom: 20px;
}

.article {
    font-size: 20px;
}

.text-yellow {
    background-color: yellow;
}


.article-item a {
    text-decoration: none;
    color: white;
}

.content table {
    border-spacing: 0;
}

.content table thead {
    background-color: #20a9e5;
    color: white;
}
.large-column {
    width: 50%;
}
.odd-row {
    background-color: #b1e5f2;
}

table {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* FOOTER */

.footer-title {
    color: gray;
    font-size: .8rem;
    margin-bottom: 1rem;
}
    
.articles-item {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
}

#monitor {
    background-image: url(/assets/monitor.jpg);
}

#graph {
    background-image: url(/assets/graph.jpg);
}

.aticles-item a {
    text-decoration: none;
    color: white;
}